# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# OS
.DS_Store

# Large models / weights (IMPORTANT)
*.pkl

# BUT keep ProteinBERT pretrained weights (tracked via Git LFS)
!hercules/models/weights/proteinbert_weights.pkl
*.h5
*.ckpt

# Logs
*.log
